@font-face {
    font-family: DPP;
    src: url(pokemon-dp-pro.ttf);
}

* {
    font-family: Lato, sans-serif;
    font-size: 20px;
}

body {
    background-color:rgb(207, 238, 246);
}

.navbar {
    background-color: black;
    color: white;
    font-weight: bold;
}
.navbar-brand {
    color: white;
}
.navbar a {
    color: white;
}

.jumbotron {
    background-image: url('../images/tahoe-powder.png');
    background-size: cover;
    color: white;
    text-align: center;
    height: 600px;
    padding-top: 200px;
    margin-bottom: 0;
}

.jumbotron h1 {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 0;
}

.jumbotron h2 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
}

h2 {
    color: rgb(207, 207, 207);
}

#logo {
    width: 50px;
    height: 50px;
}

.navbar-nav li:hover a {
    font-size: 21px;
    transition: font-size 0.5s ease-out
}

.navbar-nav li:hover a {
    font-size: 21px;
    color: rgb(207, 238, 246);
  }